/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/

#content {
  & > .img-container {
    height: 400px;
  }

  > .grade {
    > .publish {
      > .bg-white {
        margin: 1em 15%;
      }
    }
  }
}

#content {
  & > .img-container {
    & > .text__container {
      & > .char {
        letter-spacing: 2px;
        font-size: 25px;
        line-height: 400px;
      }
    }
  }
}

.c-link {
  width: 480px;
  margin-left: 70px;
  margin-right: 70px;
}

.mt-xl {
  margin-top: 70px !important;
}
.box {
  padding: 1em 1.5em;
  font-size: 16px;
}

.contact-form .item input[type="text"],
.contact-form .item input[type="email"],
.contact-form .item textarea {
  font-size: 15px;
}

.contact-form .item input[type="text"],
.contact-form .item input[type="email"],
.contact-form .item textarea {
  width: 75%;
}

.achievement {
  &__box {
    &__content {
      height: 110px;
      &__img {
        height: 94px;
        span {
          line-height: 94px;
          font-size: 23px;
          font-weight: 600;
        }
      }
      &__textarea {
        &__text {
          height: 35px;
          span.title {
            font-size: 28px;
            line-height: 35px;
            &.sp {
              font-size: 25px;
            }
          }
        }
        &__grade {
          height: 35px;
          span.title {
            font-size: 18px;
            line-height: 35px;
          }
        }
        &__school {
          height: 35px;
          span.title {
            font-size: 18px;
            line-height: 35px;
          }
        }
        &__detail {
          height: 59px;
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

// .profile_card,
// .pricecards,
// .profile_cards {
//   flex-direction: column;
//   -webkit-flex-direction: column;
// }

// .pricecard,
// .card_photo {
//   flex: 0 0 auto;
//   -webkit-flex: 0 0 auto;
// }
// .pricecard.premium {
//   order: 1;
//   -webkit-order: 1;
// }
// .flex {
//     flex-direction: row;
//     flex-wrap: wrap;
// }

// .houses {
//     &__item {
//         flex-basis: 50%;
//         margin-bottom: 60px;
//     }
// }

// .popular {
//     &__container {
//         justify-content: space-between;
//     }

//     &__item {
//         flex-basis: 47%;
//     }
// }

// .travel {
//     &__inner {
//         padding: 50px;
//     }
//     &__texts,
//     &__img {
//         flex-basis: 47%;
//     }

//     &__texts {
//         display: flex;
//         align-items: flex-end;
//     }
// }

// .footer {
//     & .logo {
//         justify-content: flex-start;
//     }

//     &__li {
//         margin-left: 0;
//         margin-right: 30px;
//     }
// }
