/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.font-sm {
  font-size: 16px;
}
.font-md {
  font-size: 19px;
}
.font-lr {
  font-size: 23px;
}
.font-lg {
  font-size: 25px;
}
.mb-lg {
  margin-bottom: 60px !important;
}
.pb-lg {
  padding-bottom: 60px !important;
}

.c-link {
  width: 60%;
  margin-left: 120px;
  margin-right: 120px;
}

.mt-xl {
  margin-top: 80px !important;
}

.contact-form {
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  font-family: sans-serif;
}

.contact-form .item input[type="text"],
.contact-form .item input[type="email"],
.contact-form .item textarea {
  display: block;
  margin-left: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
}

.box {
  width: 80% !important;
  padding: 1em 2em;
}

.contact-form .item input[type="text"],
.contact-form .item input[type="email"],
.contact-form .item textarea {
  width: 80%;
}

.achievement {
  &__box {
    &__content {
      height: 120px;
      width: 50%;
      &__img {
        height: 104px;
        span {
          line-height: 104px;
          font-size: 23px;
          font-weight: 600;
        }
      }
      &__textarea {
        &__text {
          height: 40px;
          span.title {
            font-size: 25px;
            line-height: 40px;
            &.sp {
              font-size: 23px;
            }
          }
        }
        &__grade {
          height: 40px;
          span.title {
            font-size: 18px;
            line-height: 40px;
          }
        }
        &__school {
          height: 40px;
          span.title {
            font-size: 18px;
            line-height: 40px;
          }
        }
        &__detail {
          height: 64px;
          p {
            font-size: 11px;
          }
        }
      }
    }
  }
}
// .popular {
//   &__item {
//     flex-basis: 25%;
//   }

//   &__img {
//     height: 335px;
//   }
// }

// .travel {
//   &__img {
//     height: 400px;
//   }

//   &__description {
//     margin-bottom: 40px;
//   }
//   &__title {
//     &::before {
//       display: block;
//     }
//   }
// }

// .footer {
//   &__li {
//     justify-content: flex-start;
//   }
// }

// .header {
//   &__nav {
//     display: block;
//   }
// }

// .mobile-menu {
//     &__btn {
//         display: none;
//     }
// }

// .swiper-slide {
//   box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
// }
